<!--
@#GGGGGGGGGB#&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#BGPJ77?7?Y#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G!7777!!!!77?Y#@@@@@@@@@@@@@@@@@@@@@@@@@@@@&BBBBBGJ77777?GGP@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G7777JPP5J777!7B@@@@@@@@@@@@@@@@@@@@@@@@@@&BGBBBBB&P77777!?#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G77775@@@@Y777!J@@@@@@@@@@@@@@@@@@@@@@@@@@@&#BBB#@@B?7777J&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G7777Y@@@#J777!P@@@@&BP5YYYPG#@@@@@@@&BGGPP5G@&&@@&####BB##BB&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G7777?JJ?777!75@@@&P?7!?JJ?7!7J#@@@@@@#J!!!!!5@@@@@@@@@&BBBBBB#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G777777!777JG&@@@&J!77?B##B577!7#@@@@@P777777?5@@@@@@@&@#BBBBBB&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G7777YB?!7775&@@@G!777?????????7G@@@@&?!777?#@#&@@@@@5Y@@#GGGGP#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G7777Y@&P777!7P&@B7777Y#&&&&BB#&@@@@@@&J!7JB#B##B#@#J!7?????7?B@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G!77!Y@@@#Y777!?G@B?!77?YYYJ77?5@@@@@@@@5JBBBBBBGB&J!7777!!!J#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@B????5@@@@@GJ????Y&&GY?7777?JYG&@@@@@@@@@#BBBBBBBB@&577??JJ5&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@&@@@@@&&&&&@@@@@@@@@@@@@@@@&&&&&&@@@GJ&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@&B###BBBB###&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&@#PPPP#@@@@@@@@@@&J???Y@@@@@@@@@@@@@@@@@@@@@
@#5PPPP5555PPPPB@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#5PPP#@@@@@@@@@@&?77!J@@@@@@@@@@@@@@@@@@@@@
@#PPPPG###BPPPP5G@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#PPPP#@@@@@@@@@@&?777J@@@@@@@@@@@@@@@@@@@@@
@#PPPPB@@@@&PPPPP&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#PPPP#@@@@@@@@@@&?777J@@@@@@@@@@@@@@@@@@@@@
@#PPPPG@@@&BPPPPP&@&#BGGGGGBBBBBB#@@@@@@#BBBB#@@#BGGGGGB&#PPPP##BGGGB#&@@&?777J@@@&G5YJJJYPB@@@@@@@@
@#PPPPPPPPPPPPPP#@#PPPPGGGPG&G5PPPB@@@@BPPP5G&BPPP5PPPPP##PPPPPPPPPPPPPG@&?777J@&577!?Y5J7!7?G@@@@@@
@#PPPPPPPPPPGB#@@@G5PPP#&&&@@@BPPPPG@@BPPPPB@GPPPPB&&@&&@#PPPPG&@@&GPPP5#&?777Y&J!77?GBBB577!7B@@@@@
@#PPPPG@@@@@@@@@@@&BGPP5PPPB&@@#PPPPGBPPPPB@&PPPPG@@@@@@@#PPPP#@@@@#PPPP#&?777YG!777??????JJJ?P@@@@@
@#PPPPB@@@@@@@@@@@@&@&&BPPP5P@@@&PPPPPPPP#@@@PPPPP#@@@@@@#PPPP#@@@@#PPPP#&?777Y&7777J#@@@&GG#&@@@@@@
@#5PP5G@@@@@@@@@@&P5PGBGPPPPG@@@@&PPPPPP#@@@@&GPPPPPGGPP&#5PP5#@@@@#5PP5#&?!7!J@#J7!!7JJJ?!!75@@@@@@
@#GGGGB@@@@@@@@@@&BGPPPPPGG#@@@@@#PPPPP&@@@@@@@&BGGPPPPG##GGGG&@@@@#GGGG#@YJJJ5@@@B5J?????J5B@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@BPPPPG&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@BPPPPG@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@BPPPPB@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

Project:      RePsychle - Beta
Description:  A website that aims to allow users to create an account, upload database entries, CRUD accessibility to make better recycling decisions.
Name:         Wyatt Kirschner
Course:       COMP3006
Date:         4/23/2022

-->

<!DOCTYPE html>
<html lang="en" style="/*transform: perspective(0px) scale(1);*//*background: linear-gradient(170deg, #001122, #011c2e 14%, #003346 28%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);background: linear-gradient(144deg, #001122, #011c2e 19%, #003346 31%, #004b5b 40%, #00646c 53%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e) fixed;transform-style: preserve-3d;box-shadow: 0px 0px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RePsychle - A Recycling Community Driven Database</title>
    <meta name="theme-color" content="#545454">
    <meta name="twitter:image" content="/assets/img/repsych_logo_dark.png">
    <meta name="twitter:title" content="RePsychle - A Recycling Community Driven Database">
    <meta property="og:image" content="/assets/img/repsychle_logo%201%20shadow.png">
    <meta name="description" content="RePsychle is a community-driven database that allows users to contribute to a database by creating entries for how they recycle objects locally.">
    <meta property="og:type" content="website">
    <meta name="twitter:description" content="RePsychle is a community-driven database that allows users to contribute to a database by creating entries for how they recycle objects locally.">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/img/android-chrome-512x512.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/cerulean/bootstrap.min.css">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/css/Account-setting-or-edit-profile.css">
    <link rel="stylesheet" href="/assets/css/Black-Navbar.css">
    <link rel="stylesheet" href="/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="/assets/css/Custom-Checkbox.css">
    <link rel="stylesheet" href="/assets/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="/assets/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="/assets/css/Dark-NavBar.css">
    <link rel="stylesheet" href="/assets/css/dh-card-image-left-dark.css">
    <link rel="stylesheet" href="/assets/css/Features-Boxed.css">
    <link rel="stylesheet" href="/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="/assets/css/Pretty-Search-Form.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/Team-Grid.css">
</head>

<body class="background-attachment: fixed;" style="/*transform: perspective(0px) scale(1);*//*background: linear-gradient(170deg, #001122, #011c2e 14%, #003346 28%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);background: repeating-linear-gradient(180deg, #001122, #011c2e 7%, #003346 21%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e) fixed;transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;">
<div></div>
<div class="container text-center" style="background: rgba(123,188,126,0.2);margin-top: 50px;margin-bottom: 50px;">
    <i class="far fa-plus-square icon" style="box-shadow: 0px 0px;color: #7BBC7E;height: 75px;width: 75px;margin-bottom: 16px;border-color: #545454;font-size: 75px;text-align: center;"></i>    <h1 style="color: white;font-size: 28px;text-align: center;">Add Database Entry</h1>

    <hr style="color: whitesmoke">

    <img src="/assets/img/repsychle_logo%201%20shadow.png" style="width: 350px;padding-top: 25px;padding-bottom: 25px;" />

    <h1 style="color: white;font-size: 28px;text-align: center;margin: 50px;">Want to create a new entry into the RePsychle Database?<br /><br />Please fill out the information below.<br /><br />Please note that you will have access to delete any entries that you input.</h1>

    <div class="row text-center justify-content-center align-items-center" style="margin: 12px;padding: 12px;width: 100%;margin-bottom: 12px;" onclick="return true">


        <div class="col" style="">
            <div class="row" style="text-align: center;background: linear-gradient(0deg, #004B5B 1%, #63B07E 76%), #63B07E;padding: 5px;">

                <br>
                <h1 class="title" style="color: white;font-size: 32px;"> Add an Object to the Database - {{this.user.username}}</h1>
                <hr style = "color: whitesmoke">


                <div class="col-md-5" style="margin: 0px;margin-top: 5px;padding: 5px;height: 50%;">

                    <div class="card" style="padding: 25px; margin: 25px; background: rgba(40,45,50,0.8);">
                        <div class="card-body" style="background: rgb(40, 45, 50);"><img src="/assets/img/repsychle_logo 1 shadow.png" style="width: 250px;padding-top: 15px;padding-bottom: 15px;" />
                            <h1 style="color: white;font-size: 28px;text-align: center;margin: 50px;">Create a Database Entry in 3 Easy Steps</h1><img class="rounded-circle" src="/assets/img/thumbs-up-g1953574ab_1920.jpg" style="width: 200px;height: 200px;" />
                            <p style="color: white;font-size: 14px;text-align: center;margin: 50px;">In order to make an entry into the RePsychle Database, you will need a couple of things.</p>
                            <h1 style="color: white;font-size: 28px;text-align: center;margin: 50px;">Step 1) Determine the Object for Submission</h1><img class="rounded-circle" src="/assets/img/question-mark-g032f45df3_1920.jpg" style="width: 200px;height: 200px;" />
                            <p style="color: white;font-size: 14px;text-align: center;margin: 50px;">Depending on how you would like your item to be classified, please ensure that the information that you enter into the Database Entry form is accurate.<br /><br />Three data fields of interest that may stick out to you are the following:<br /><br /><strong>EcoScore</strong><br /><br /><strong>Object Longitude</strong><br /><br /><strong>Object Latitude</strong><br /><br />For more information on how to engage with these data points, please see below.</p>
                            <h1 style="color: white;font-size: 28px;text-align: center;margin: 50px;">Step 2) Upload the Image </h1><img class="rounded-circle" src="/assets/img/night-g82f9f0b8c_1920.jpg" style="width: 200px;height: 200px;" />
                            <p style="color: white;font-size: 14px;text-align: center;margin: 50px;">RePsychle uses MongoDB to not only host our database but to also host the images that are uploaded. <br /><br />This is accomplished by using a <em>middleware</em> known as <em>Multer</em> to help store and retrieve files.<br /><br />Please be aware that for the current time, images cannot be altered or replaced once uploaded to RePsychle.<br /><br />When you delete an entry, the image is also removed from the database / server.<br /><br />By uploading an Image to RePsychle, you agree that the image that you are submitting is your own and not of malicious or ill-intent to the website.</p>
                            <h1 style="color: white;font-size: 28px;text-align: center;margin: 50px;">Step 3) Submit your Entry  </h1><img class="rounded-circle" src="/assets/img/at-gd189fff3b_1920.jpg" style="width: 200px;height: 200px;" />
                            <p style="color: white;font-size: 14px;text-align: center;margin: 50px;">Once you have submitted your entry, you will be able to make changes to this later. If you would like, you can also delete the entry from the database.</p>
                        </div>
                    </div >
                </div>

                <div class="col-md-7" style="margin: 0px;margin-top: 5px;padding: 5px;height: 50%;">

                    <div class="card" style="padding: 25px; margin: 25px; background: rgba(40,45,50,0.8);">
                        <form method="POST" enctype="multipart/form-data">
                            <img class="card-img-top" src="https://repsychle-production-new.herokuapp.com/image/4566ec26bb131ea3307afe7122e91de9.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h1 class="card-title" for="objectName" style="color: #7bbc7e">Object:</h1>
                                <input class="form-control" type="text" id="objectName" name="objectName" required aria-describedby="objectNameHelp" style="margin-bottom: 50px; margin-top:50px;" placeholder="Please Enter an Object Name" value="{{recycling.objectName}}">
                                <hr style = "color: whitesmoke">
                                <h3 class="card-text" for="objectDescription" style="color: #7bbc7e">Description:</h3>
                                <textarea rows="3" cols="40" class="form-control" type="text" id="objectDescription" name="objectDescription" required aria-describedby="objectDescriptionHelp" style="margin-bottom: 50px; margin-top:50px;" placeholder="Please Enter an Object Description">{{recycling.objectDescription}}</textarea>
                                <hr style = "color: whitesmoke">
                                <h3 class="card-text" for="objectDisposalMethod" style="color: #7bbc7e">Disposal Method:</h3>
                                <select class="form-control" type="text" id="objectDisposalMethod" name="objectDisposalMethod" required aria-describedby="objectDisposalMethodHelp" style="margin-bottom: 50px; margin-top:50px;" placeholder="Please Enter an Object Disposal Method">
                                    <option>RECYCLE</option>
                                    <option>GARBAGE</option>
                                    <option>COMPOST</option>
                                    <option>HAZARDOUS</option>
                                </select>
                                <h3 class="card-text" for="objectEcoScore" style="color: #7bbc7e">EcoScore: </h3>
                                <select class="form-control" type="text" id="objectEcoScore" name="objectEcoScore" required aria-describedby="objectEcoScoreHelp" style="margin-bottom: 50px; margin-top:50px;" placeholder="Please Enter an EcoScore">
                                    <option>VERY HIGH</option>
                                    <option>HIGH</option>
                                    <option>MEDIUM</option>
                                    <option>LOW</option>
                                    <option>VERY LOW</option>
                                </select>
                                <hr style = "color: whitesmoke">
                                <h5 class="card-text" for="objectLong" style="color: #7bbc7e">Object Longitude:</h5>
                                <input class="form-control" step="any" type="number" id="objectLong" name="objectLong" required aria-describedby="objectLongHelp" style="margin-bottom: 50px; margin-top:50px;" placeholder="Please Enter an Object Longitude" >
                                <h5 class="card-text" for="objectLat" style="color: #7bbc7e">Object Latitude: </h5>
                                <input class="form-control" step="any" type="number" id="objectLat" name="objectLat" required aria-describedby="objectLatHelp" style="margin-bottom: 50px; margin-top:50px;" placeholder="Please Enter an Object Latitude" >
                                <hr style="color: whitesmoke">
                                <h5 class="card-text" for="profile_id" style="color: #7bbc7e">Profile ID:</h5>
                                <script>
                                // Initialize and add the map
                                alert('Please allow RePsychle to determine your coordinates to create an entry into the Database!');


                                const findLocation = () => {
                                const success = (position) => {

                                document.querySelector('#objectLong').value = position.coords.longitude;
                                document.querySelector('#objectLat').value = position.coords.latitude;
                                console.log(document.querySelector('#objectLong').value)
                                console.log(document.querySelector('#objectLat').value)

                                }
                                const error = () => {
                                console.textContent = 'ERROR!';
                                }

                                navigator.geolocation.getCurrentPosition(success, error);
                                }
                                findLocation();

                                </script>
                                <select class="form-control" type="number" id="profile_id" name="profile_id" required aria-describedby="profileIdHelp" style="margin-bottom: 50px; margin-top:50px;" placeholder="Please Enter a Proper User">
                                    {{#if user}}
                                        <option>{{this.user.username}}</option>
                                    {{/if}}

                                </select>




                                <div class="custom-file mb-3" >
                                    <input type="file" name="file" id="file" class="custom-file-input">
                                    <label for="file" class="custom-file-label">Choose File</label>
                                </div>

                            </div>

                            <input type="submit" value="Submit" style="background: #7bbc7e" class="btn btn-primary btn-block" >
                        </form>
                    </div>

                </div>

                <div class="card col-md-12" style="padding: 25px;padding-top: 25px;text-align: center;background: rgba(40,45,50,0.8);">
                    <div class="card-body" style="background: rgb(40, 45, 50);"><img src="/assets/img/repsychle_logo 1 shadow.png" style="width: 250px;padding-top: 15px;padding-bottom: 15px;" />
                        <div id="trash_ecoScore_div">
                            <h1 id="trash_ecoScore_label" class="name" style="color: white;font-size: 28px;">EcoScore Rating<br /></h1><img class="rounded-circle" src="/assets/img/trees-g447be9606_1920.jpg" style="width: 200px;height: 200px;" />
                            <p style="color: white;font-size: 14px;text-align: center;margin: 50px;">In order to make an entry into the RePsychle Database, selecting an EcoScore is important.<br /><br />Read on what is important when it comes to the EcoScore of an Object.</p>
                            <div id="trash_ecoScore_accordion" class="accordion" role="tablist">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" role="tab" style><button id="trash_ecoScore_veryHigh" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#trash_ecoScore_accordion .item-1" aria-expanded="false" aria-controls="trash_ecoScore_accordion .item-1">VERY HIGH</button></h2>
                                    <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#trash_ecoScore_accordion">
                                        <div class="accordion-body">
                                            <p class="mb-0">An object that has been rated <em>VERY</em><em>HIGH</em> has an extremely positive impact on the environment. This object is assumed to have been created with minimal impact on the atmosphere, is composed of only one or a few materials, and can be passed on to the next phase of its life cycle in a positive manner if disposed of using the provided disposal method.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" role="tab"><button id="trash_ecoScore_high" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#trash_ecoScore_accordion .item-2" aria-expanded="false" aria-controls="trash_ecoScore_accordion .item-2">HIGH</button></h2>
                                    <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#trash_ecoScore_accordion">
                                        <div class="accordion-body">
                                            <p class="mb-0">An object that has been rated <em>HIGH</em> has a positive impact on the environment. This object is assumed to have been created with a low impact on the atmosphere, is composed of a few materials, and can be passed on to the next phase of its life cycle in a specific way if disposed of properly.<br /></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" role="tab"><button id="trash_ecoScore_medium" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#trash_ecoScore_accordion .item-3" aria-expanded="false" aria-controls="trash_ecoScore_accordion .item-3">MEDIUM</button></h2>
                                    <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#trash_ecoScore_accordion">
                                        <div class="accordion-body">
                                            <p class="mb-0">An object that has been rated <em>MEDIUM </em>has a moderate impact on the environment. This object is assumed to have been created with a measurable impact on the atmosphere, is composed of more than a few materials, and can be passed on to the next phase of its life cycle if cleaned, prepared, and disposed of in a specific manner.<br /></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" role="tab"><button id="trash_ecoScore_low" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#trash_ecoScore_accordion .item-4" aria-expanded="false" aria-controls="trash_ecoScore_accordion .item-4">LOW</button></h2>
                                    <div class="accordion-collapse collapse item-4" role="tabpanel" data-bs-parent="#trash_ecoScore_accordion">
                                        <div class="accordion-body">
                                            <p class="mb-0">An object that has been rated <em>LOW </em>has a heavy impact on the environment. This object is assumed to have been created to be reactive with the atmosphere, is composed of various compounds, and can be passed on to the next phase of its life cycle if cleaned, handled, prepared, and disposed of in a specific manner. Even if this object is disposed of properly, this object should be avoided unless necessary.<br /></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" role="tab"><button id="trash_ecoScore_veryLow" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#trash_ecoScore_accordion .item-5" aria-expanded="true" aria-controls="trash_ecoScore_accordion .item-5">VERY LOW</button></h2>
                                    <div class="accordion-collapse collapse show item-5" role="tabpanel" data-bs-parent="#trash_ecoScore_accordion">
                                        <div class="accordion-body">
                                            <p class="mb-0">An object that has been rated VERY <em>LOW </em>has an extreme impact on the environment. This object is assumed to have been created to be reactive or corrosive to the atmosphere, is composed of various compounds or formulas, and can be passed on to the next phase of its life cycle if cleaned, handled, prepared, and disposed of in a very specific manner. Even if this object is disposed of properly, this object should be avoided unless necessary. Follow all warnings, directions, and disposal methods.<br /></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1 id="trash_ecoScore_label-1" class="name" style="color: white;font-size: 28px;">Geographic Location<br /></h1><img class="rounded-circle" src="/assets/img/google-maps-g8ae458bff_1920.jpg" style="width: 200px;height: 200px;" />
                        <p style="color: white;font-size: 14px;text-align: center;margin: 50px;">By collecting this information, this information will be used to help improve the RePsychle Database.<br /><br />As the Beta Continues, there will be multiple iterations to how this data is used.<br /><br />Please note that this information is deleted when an object is removed from the RePsychle Database through the creator&#39;s editing functionality or the administrator.<br /><br /></p>
                        <h1 id="trash_ecoScore_label-3" class="name" style="color: white;font-size: 28px;">Object Longitude<br /></h1><img class="rounded-circle" src="/assets/img/travel-g7c2d49604_1920.jpg" style="width: 200px;height: 200px;" />
                        <p style="color: white;font-size: 14px;text-align: center;margin: 50px;">Longitude refers to the position on Earth that is relative to the x-axis.<br /></p>
                        <h1 id="trash_ecoScore_label-2" class="name" style="color: white;font-size: 28px;">Object Latitude<br /></h1><img class="rounded-circle" src="/assets/img/compass-g95b53de55_1920.jpg" style="width: 200px;height: 200px;" />
                        <p style="color: white;font-size: 14px;text-align: center;margin: 50px;">Latitude refers to the position on Earth that is relative to the y-axis.<br /></p>
                    </div>
                </div>

            </div>





        </div>
    </div>
</div>
<div class="col-md-12" style="padding: 25px;padding-top: 25px;text-align: center;background: rgba(40,45,50,0.8);"><i class="fas fa-recycle text-center icon" style="box-shadow: 0px 0px;color: #7bbc7e;width: 75px;height: 75px;font-size: 78px;text-align: center;"></i>
    <div class="box rounded-3" style="text-align: center;/*transform: perspective(0px) scale(1);*//*transform-style: preserve-3d;*//*box-shadow: 0px 0px;*/transform: perspective(0px) scale(1);transform-style: preserve-3d;box-shadow: 0px 0px;height: 100%;width: 100%;padding: 25px;margin: 0 auto;">
        <h1 class="name" style="color: white;font-size: 32px;">Join our Email List</h1><img src="/assets/img/repsychle_logo%201%20shadow.png" style="padding-top: 25px;padding-bottom: 25px;width: 25%;">
        <p class="description" style="color: white;font-size: 24px;">To learn more about the RePsychling Revolution, join our Newsletter!<br></p>
        <form class="search-form justify-content-center form-group form-horizontal" style="text-align: center;margin: auto;padding: 0px;height: auto;width: 50%;background: #00000000;margin-bottom: 25px;">
            <div class="input-group" style="width: 100%;text-align: center;height: auto;margin: auto;"></div>
        </form><div style="text-align: center;">

        <div class="wrapper rounded6" id="templateContainer">


            <div id="templateBody" class="bodyContent rounded6">










                <form action="https://repsychle.us14.list-manage.com/subscribe/post" method="POST">
                    <input type="hidden" name="u" value="8b977aaab218495243d4ea039">
                    <input type="hidden" name="id" value="00a0eca80f">


                    <!-- people should not fill these in and expect good things -->
                    <!-- <div class="field-shift" aria-label="Please leave the following three fields empty" aria-hidden="true">
                         <label for="b_name">Name: </label>
                         <input type="text" name="b_name" tabindex="-1" value="" placeholder="Freddie" id="b_name">

                         <label for="b_email">Email: </label>
                         <input type="email" name="b_email" tabindex="-1" value="" placeholder="youremail@gmail.com" id="b_email">

                         <label for="b_comment">Comment: </label>
                         <textarea name="b_comment" tabindex="-1" placeholder="Please comment" id="b_comment"></textarea>
                     </div>

                 -->

                    <div id="mergeTable" class="mergeTable">


                        <div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
                            <label for="MERGE0" style="color: white;font-size: 24px; margin-bottom: 0px; margin: 25px;margin-bottom: 25px;margin-top: 25px; width: 25%; text-align: center;">Email Address <span class="req asterisk">*</span></label>
                            <div class="field-group">
                                <input  type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" style="margin: 25px;margin-bottom: 25px;margin-top: 25px; width: 25%; text-align: center;">


                            </div>

                        </div>



                        <div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-1">
                            <label for="MERGE1" style="color: white;font-size: 18px;">First Name</label>
                            <div class="field-group">
                                <input type="text" name="MERGE1" id="MERGE1" size="25" value="" style="margin: 25px;margin-bottom: 25px;margin-top: 25px; width: 25%; text-align: center;">


                            </div>

                        </div>



                        <div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-2">
                            <label for="MERGE2" style="color: white;font-size: 18px;">Last Name</label>
                            <div class="field-group">
                                <input type="text" name="MERGE2" id="MERGE2" size="25" value="" style="margin: 25px;margin-bottom: 25px;margin-top: 25px; width: 25%; text-align: center;">


                            </div>

                        </div>









                    </div>

                    <div class="submit_container clear">
                        <input type="submit" class="formEmailButton" name="submit" value="Subscribe" style="background: #7bbc7e;border-style: none;color: white; margin: 25px;margin-bottom: 25px;margin-top: 25px;text-align: center;">
                    </div>
                    <input type="hidden" name="ht" value="2f9f9c55d32933679bad3360902d1d3f28af06d8:MTY0OTk5MzE0MC43NTM2">
                    <input type="hidden" name="mc_signupsource" value="hosted">
                </form>


            </div>
        </div>


        <div class="poweredWrapper">
            <span class="poweredBy"><a href="http://www.mailchimp.com/email-referral/?utm_source=freemium_newsletter&amp;utm_medium=email&amp;utm_campaign=referral_marketing&amp;aid=8b977aaab218495243d4ea039&amp;afl=1"><img src="https://cdn-images.mailchimp.com/monkey_rewards/grow-business-banner-2.png" border="0" alt="Email Marketing Powered by Mailchimp" title="Mailchimp Email Marketing" width="435" height="64" style="max-width: 100%; height: auto;"></a></span>
        </div>

        <script type="text/javascript" src="/d7n1/lSH1/SE-/Gqq/g-VA/ifr7VrpbiN/Hy9jbBo5DBA/WmEPPW/FOCDw"></script>

    </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/bs-init.js"></script>
</body>

</html>
