<!--
@#GGGGGGGGGB#&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#BGPJ77?7?Y#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G!7777!!!!77?Y#@@@@@@@@@@@@@@@@@@@@@@@@@@@@&BBBBBGJ77777?GGP@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G7777JPP5J777!7B@@@@@@@@@@@@@@@@@@@@@@@@@@&BGBBBBB&P77777!?#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G77775@@@@Y777!J@@@@@@@@@@@@@@@@@@@@@@@@@@@&#BBB#@@B?7777J&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G7777Y@@@#J777!P@@@@&BP5YYYPG#@@@@@@@&BGGPP5G@&&@@&####BB##BB&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G7777?JJ?777!75@@@&P?7!?JJ?7!7J#@@@@@@#J!!!!!5@@@@@@@@@&BBBBBB#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G777777!777JG&@@@&J!77?B##B577!7#@@@@@P777777?5@@@@@@@&@#BBBBBB&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G7777YB?!7775&@@@G!777?????????7G@@@@&?!777?#@#&@@@@@5Y@@#GGGGP#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G7777Y@&P777!7P&@B7777Y#&&&&BB#&@@@@@@&J!7JB#B##B#@#J!7?????7?B@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G!77!Y@@@#Y777!?G@B?!77?YYYJ77?5@@@@@@@@5JBBBBBBGB&J!7777!!!J#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@B????5@@@@@GJ????Y&&GY?7777?JYG&@@@@@@@@@#BBBBBBBB@&577??JJ5&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@&@@@@@&&&&&@@@@@@@@@@@@@@@@&&&&&&@@@GJ&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@&B###BBBB###&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&@#PPPP#@@@@@@@@@@&J???Y@@@@@@@@@@@@@@@@@@@@@
@#5PPPP5555PPPPB@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#5PPP#@@@@@@@@@@&?77!J@@@@@@@@@@@@@@@@@@@@@
@#PPPPG###BPPPP5G@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#PPPP#@@@@@@@@@@&?777J@@@@@@@@@@@@@@@@@@@@@
@#PPPPB@@@@&PPPPP&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#PPPP#@@@@@@@@@@&?777J@@@@@@@@@@@@@@@@@@@@@
@#PPPPG@@@&BPPPPP&@&#BGGGGGBBBBBB#@@@@@@#BBBB#@@#BGGGGGB&#PPPP##BGGGB#&@@&?777J@@@&G5YJJJYPB@@@@@@@@
@#PPPPPPPPPPPPPP#@#PPPPGGGPG&G5PPPB@@@@BPPP5G&BPPP5PPPPP##PPPPPPPPPPPPPG@&?777J@&577!?Y5J7!7?G@@@@@@
@#PPPPPPPPPPGB#@@@G5PPP#&&&@@@BPPPPG@@BPPPPB@GPPPPB&&@&&@#PPPPG&@@&GPPP5#&?777Y&J!77?GBBB577!7B@@@@@
@#PPPPG@@@@@@@@@@@&BGPP5PPPB&@@#PPPPGBPPPPB@&PPPPG@@@@@@@#PPPP#@@@@#PPPP#&?777YG!777??????JJJ?P@@@@@
@#PPPPB@@@@@@@@@@@@&@&&BPPP5P@@@&PPPPPPPP#@@@PPPPP#@@@@@@#PPPP#@@@@#PPPP#&?777Y&7777J#@@@&GG#&@@@@@@
@#5PP5G@@@@@@@@@@&P5PGBGPPPPG@@@@&PPPPPP#@@@@&GPPPPPGGPP&#5PP5#@@@@#5PP5#&?!7!J@#J7!!7JJJ?!!75@@@@@@
@#GGGGB@@@@@@@@@@&BGPPPPPGG#@@@@@#PPPPP&@@@@@@@&BGGPPPPG##GGGG&@@@@#GGGG#@YJJJ5@@@B5J?????J5B@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@BPPPPG&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@BPPPPG@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@BPPPPB@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

Project:      RePsychle - Beta
Description:  A website that aims to allow users to create an account, upload database entries, CRUD accessibility to make better recycling decisions.
Name:         Wyatt Kirschner
Course:       COMP3006
Date:         4/23/2022

-->

<!DOCTYPE html>
<html
        lang="en"
        style="
        /*transform: perspective(0px) scale(1);*/ /*background: linear-gradient(170deg, #001122, #011c2e 14%, #003346 28%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e);*/ /*transform-style: preserve-3d;*/ /*box-shadow: 0px 0px;*/
        transform: perspective(0px) scale(1);
        background: linear-gradient(144deg, #001122, #011c2e 19%, #003346 31%, #004b5b 40%, #00646c 53%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e) fixed;
        transform-style: preserve-3d;
        box-shadow: 0px 0px;
    "
>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>RePsychle - Bootstrap Studio - Alt</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700" />
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css" />
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css" />
    <link rel="stylesheet" href="assets/css/Account-setting-or-edit-profile.css" />
    <link rel="stylesheet" href="assets/css/Black-Navbar.css" />
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css" />
    <link rel="stylesheet" href="assets/css/Custom-Checkbox.css" />
    <link rel="stylesheet" href="assets/css/Dark-NavBar-1.css" />
    <link rel="stylesheet" href="assets/css/Dark-NavBar-2.css" />
    <link rel="stylesheet" href="assets/css/Dark-NavBar.css" />
    <link rel="stylesheet" href="assets/css/dh-card-image-left-dark.css" />
    <link rel="stylesheet" href="assets/css/Features-Boxed.css" />
    <link rel="stylesheet" href="assets/css/Footer-Dark.css" />
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css" />
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css" />
    <link rel="stylesheet" href="assets/css/Pretty-Search-Form.css" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <link rel="stylesheet" href="assets/css/Team-Grid.css" />
</head>

<body
        class="text-center background-attachment: fixed;"
        style="
            /*transform: perspective(0px) scale(1);*/ /*background: linear-gradient(170deg, #001122, #011c2e 14%, #003346 28%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e);*/ /*transform-style: preserve-3d;*/ /*box-shadow: 0px 0px;*/
            transform: perspective(0px) scale(1);
            background: repeating-linear-gradient(180deg, #001122, #011c2e 7%, #003346 21%, #004b5b 40%, #00646c 49%, #077e76 65%, #36977c 75%, #63b07e 88%, #7bbc7e) fixed;
            transform-style: preserve-3d;
            box-shadow: 0px 0px;
            height: 100%;
            text-align: center;
        "
>

    <div
            class="row text-center justify-content-center align-items-center"
            style="margin: 20px; padding: 20px; margin-bottom: 20px; margin-top: 20px; margin-right: 20px; margin-left: 20px; padding-top: 20px; padding-right: 20px;"
            onclick="return true"
    >
        <div class="col" style="background: rgba(40, 45, 50, 0.2); padding-top: 12px; padding-right: 12px; padding-bottom: 12px; padding-left: 12px;">
            <i class="fas fa-server icon" style="box-shadow: 0px 0px; color: #7bbc7e; height: 75px; width: 75px; margin: 10px; margin-bottom: 16px; border-color: #545454; font-size: 75px; text-align: center;"></i>
            <div>
                <h1 style="color: white; font-size: 28px; text-align: center;">500 - Internal Server Error</h1>
                <img src="/assets/img/repsychle_logo%201%20shadow.png" style="width: 350px; padding-top: 25px; padding-bottom: 25px;" />
                <div>
                    <h1 style="color: white; font-size: 28px; text-align: center; margin: 50px;">
                        Trust us, this is <em>our bad</em>&nbsp;and not yours.<br />
                        <br />
                        Please try navigating to the link that you are trying to reach again.<br />
                        <br />
                        If you are still seeing this error after signing out and signing back in, please use our <em>Contact Us</em>&nbsp;form or email us at
                        <a href="mailto:repsychle@wkirschn.ca" style="font-size: 18px; width: auto; text-align: center;"><em>repsychle@wkirschn.ca</em></a>.<br />
                        <br />
                        Here is something a little more pleasant to look at!&nbsp;
                    </h1>
                </div>
            </div>
            <img class="rounded-circle" src="/assets/img/cat-g117c72005_1920.jpg" style="width: 300px; height: 300px; padding-top: 25px; padding-bottom: 25px;" />
            <h1 style="color: white; font-size: 28px; text-align: center; margin: 50px;">Placeholder - Error Code</h1>
        </div>
    </div>
</div>
<div class="col-md-12" style="padding: 25px; padding-top: 25px; text-align: center; background: rgba(40, 45, 50, 0.8);">
    <i class="fas fa-recycle text-center icon" style="box-shadow: 0px 0px; color: #7bbc7e; width: 75px; height: 75px; font-size: 78px; text-align: center;"></i>
    <div
            class="box rounded-3"
            style="
                    text-align: center; /*transform: perspective(0px) scale(1);*/ /*transform-style: preserve-3d;*/ /*box-shadow: 0px 0px;*/
                    transform: perspective(0px) scale(1);
                    transform-style: preserve-3d;
                    box-shadow: 0px 0px;
                    height: 100%;
                    width: 100%;
                    padding: 25px;
                    margin: 0 auto;
                "
    >
        <h1 class="name" style="color: white; font-size: 32px;">Join our Email List</h1>
        <img src="/assets/img/repsychle_logo%201%20shadow.png" style="padding-top: 25px; padding-bottom: 25px; width: 25%;" />
        <p class="description" style="color: white; font-size: 24px;">To learn more about the RePsychling Revolution, join our Newsletter!<br /></p>
        <form class="search-form justify-content-center form-group form-horizontal" style="text-align: center; margin: auto; padding: 0px; height: auto; width: 50%; background: #00000000; margin-bottom: 25px;">
            <div class="input-group" style="width: 100%; text-align: center; height: auto; margin: auto;"></div>
        </form>
        <div style="text-align: center;">
            <div class="wrapper rounded6" id="templateContainer">
                <div id="templateBody" class="bodyContent rounded6">
                    <form action="https://repsychle.us14.list-manage.com/subscribe/post" method="POST">
                        <input type="hidden" name="u" value="8b977aaab218495243d4ea039" />
                        <input type="hidden" name="id" value="00a0eca80f" />

                        <!-- people should not fill these in and expect good things -->
                        <!-- <div class="field-shift" aria-label="Please leave the following three fields empty" aria-hidden="true">
                 <label for="b_name">Name: </label>
                 <input type="text" name="b_name" tabindex="-1" value="" placeholder="Freddie" id="b_name">

                 <label for="b_email">Email: </label>
                 <input type="email" name="b_email" tabindex="-1" value="" placeholder="youremail@gmail.com" id="b_email">

                 <label for="b_comment">Comment: </label>
                 <textarea name="b_comment" tabindex="-1" placeholder="Please comment" id="b_comment"></textarea>
             </div>

         -->

                        <div id="mergeTable" class="mergeTable">
                            <div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
                                <label for="MERGE0" style="color: white; font-size: 24px; margin-bottom: 0px; margin: 25px; margin-bottom: 25px; margin-top: 25px; width: 25%; text-align: center;">
                                    Email Address <span class="req asterisk">*</span>
                                </label>
                                <div class="field-group">
                                    <input
                                            type="email"
                                            autocapitalize="off"
                                            autocorrect="off"
                                            name="MERGE0"
                                            id="MERGE0"
                                            size="25"
                                            value=""
                                            style="margin: 25px; margin-bottom: 25px; margin-top: 25px; width: 25%; text-align: center;"
                                    />
                                </div>
                            </div>

                            <div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-1">
                                <label for="MERGE1" style="color: white; font-size: 18px;">First Name</label>
                                <div class="field-group">
                                    <input type="text" name="MERGE1" id="MERGE1" size="25" value="" style="margin: 25px; margin-bottom: 25px; margin-top: 25px; width: 25%; text-align: center;" />
                                </div>
                            </div>

                            <div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-2">
                                <label for="MERGE2" style="color: white; font-size: 18px;">Last Name</label>
                                <div class="field-group">
                                    <input type="text" name="MERGE2" id="MERGE2" size="25" value="" style="margin: 25px; margin-bottom: 25px; margin-top: 25px; width: 25%; text-align: center;" />
                                </div>
                            </div>
                        </div>

                        <div class="submit_container clear">
                            <input
                                    type="submit"
                                    class="formEmailButton"
                                    name="submit"
                                    value="Subscribe"
                                    style="background: #7bbc7e; border-style: none; color: white; margin: 25px; margin-bottom: 25px; margin-top: 25px; text-align: center;"
                            />
                        </div>
                        <input type="hidden" name="ht" value="2f9f9c55d32933679bad3360902d1d3f28af06d8:MTY0OTk5MzE0MC43NTM2" />
                        <input type="hidden" name="mc_signupsource" value="hosted" />
                    </form>
                </div>
            </div>

            <div class="poweredWrapper">
                        <span class="poweredBy">
                            <a href="http://www.mailchimp.com/email-referral/?utm_source=freemium_newsletter&amp;utm_medium=email&amp;utm_campaign=referral_marketing&amp;aid=8b977aaab218495243d4ea039&amp;afl=1">
                                <img
                                        src="https://cdn-images.mailchimp.com/monkey_rewards/grow-business-banner-2.png"
                                        border="0"
                                        alt="Email Marketing Powered by Mailchimp"
                                        title="Mailchimp Email Marketing"
                                        width="435"
                                        height="64"
                                        style="max-width: 100%; height: auto;"
                                />
                            </a>
                        </span>
            </div>

            <script type="text/javascript" src="/d7n1/lSH1/SE-/Gqq/g-VA/ifr7VrpbiN/Hy9jbBo5DBA/WmEPPW/FOCDw"></script>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/bs-init.js"></script>
</body>
</html>
