
<form method="post" >







    <fieldset class="form-group">
        <label for="password" class="col-2 control-label">
            Password: *
        </label>
        <input
                name="password"
                id="password"
                type="password"
                placeholder="Enter a Password"
                required
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
        />
    </fieldset>
    <fieldset class="form-group">
        <label for="confirm" class="col-2 control-label">
            Confirm: *
        </label>
        <input
                name="confirm"
                id="confirm"
                type="password"
                placeholder="Enter the Same Password"
                required
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
        />
    </fieldset>



    <fieldset class="form-group">
        <button class="btn btn-info offset-3">
            Register
        </button>
        <hr />
        Already have an account?
        <a href="/login" title="Login">
            Login
        </a>
    </fieldset>

</form>



