<!DOCTYPE html>
<html>



  <body>
    {{{body}}}
  </body>
  <footer class="footer-dark">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item" style="text-align: left;">
                  <h3 style="color: #7bbc7e;">RePsychle Database</h3>
                  <ul>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/database/garbage">Garbage</a></li>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/database/recycling">Recycling</a></li>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/database/compost">Compost</a></li>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/database/hazardous">Hazardous</a></li>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/database/all">All</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item" style="text-align: left;">
                  <h3 style="color: #7bbc7e;">About</h3>
                  <ul>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/about">About RePsychle</a></li>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/faq">Frequently Asked Questions</a></li>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/register">Register</a></li>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/login">Login</a></li>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/account">My Account</a></li>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/contact">Contact Us</a></li>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/how">How To RePsychle</a></li>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/repsychle_blog">Blog</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3 style="text-align: left;"><img src="/assets/img/repsychle_logo%201%20shadow.png" style="width: 200px;"></h3>
                  <p style="text-align: left; font-size: 14px;">RePsychle is not responsible for any information placed into this website. During this Beta, we are testing various features and how to create a better experience that will reflect our vision. If you have any comments or concerns, please use our <em>Contact Us</em>&nbsp;page.<br></p>
              </div>
              <div class="col item social"><a href="https://www.facebook.com/RePsychleCanada"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/RePsychleCanada"><i class="icon ion-social-twitter"></i></a><a href="mailto:repsychle@wkirschn.ca"><i class="icon ion-email"></i></a><a href="https://instagram.com/repsychlecanada"><i class="icon ion-social-instagram"></i></a></div>
          </div>
          <p class="copyright">Wyatt Kirschner © 2022 - 200407722 - COMP3006<br></p>
      </div>
  </footer>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/bs-init.js"></script>

</html>
