<!--
@#GGGGGGGGGB#&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#BGPJ77?7?Y#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G!7777!!!!77?Y#@@@@@@@@@@@@@@@@@@@@@@@@@@@@&BBBBBGJ77777?GGP@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G7777JPP5J777!7B@@@@@@@@@@@@@@@@@@@@@@@@@@&BGBBBBB&P77777!?#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G77775@@@@Y777!J@@@@@@@@@@@@@@@@@@@@@@@@@@@&#BBB#@@B?7777J&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G7777Y@@@#J777!P@@@@&BP5YYYPG#@@@@@@@&BGGPP5G@&&@@&####BB##BB&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G7777?JJ?777!75@@@&P?7!?JJ?7!7J#@@@@@@#J!!!!!5@@@@@@@@@&BBBBBB#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G777777!777JG&@@@&J!77?B##B577!7#@@@@@P777777?5@@@@@@@&@#BBBBBB&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G7777YB?!7775&@@@G!777?????????7G@@@@&?!777?#@#&@@@@@5Y@@#GGGGP#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G7777Y@&P777!7P&@B7777Y#&&&&BB#&@@@@@@&J!7JB#B##B#@#J!7?????7?B@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@G!77!Y@@@#Y777!?G@B?!77?YYYJ77?5@@@@@@@@5JBBBBBBGB&J!7777!!!J#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@B????5@@@@@GJ????Y&&GY?7777?JYG&@@@@@@@@@#BBBBBBBB@&577??JJ5&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@&@@@@@&&&&&@@@@@@@@@@@@@@@@&&&&&&@@@GJ&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@&B###BBBB###&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&@#PPPP#@@@@@@@@@@&J???Y@@@@@@@@@@@@@@@@@@@@@
@#5PPPP5555PPPPB@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#5PPP#@@@@@@@@@@&?77!J@@@@@@@@@@@@@@@@@@@@@
@#PPPPG###BPPPP5G@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#PPPP#@@@@@@@@@@&?777J@@@@@@@@@@@@@@@@@@@@@
@#PPPPB@@@@&PPPPP&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#PPPP#@@@@@@@@@@&?777J@@@@@@@@@@@@@@@@@@@@@
@#PPPPG@@@&BPPPPP&@&#BGGGGGBBBBBB#@@@@@@#BBBB#@@#BGGGGGB&#PPPP##BGGGB#&@@&?777J@@@&G5YJJJYPB@@@@@@@@
@#PPPPPPPPPPPPPP#@#PPPPGGGPG&G5PPPB@@@@BPPP5G&BPPP5PPPPP##PPPPPPPPPPPPPG@&?777J@&577!?Y5J7!7?G@@@@@@
@#PPPPPPPPPPGB#@@@G5PPP#&&&@@@BPPPPG@@BPPPPB@GPPPPB&&@&&@#PPPPG&@@&GPPP5#&?777Y&J!77?GBBB577!7B@@@@@
@#PPPPG@@@@@@@@@@@&BGPP5PPPB&@@#PPPPGBPPPPB@&PPPPG@@@@@@@#PPPP#@@@@#PPPP#&?777YG!777??????JJJ?P@@@@@
@#PPPPB@@@@@@@@@@@@&@&&BPPP5P@@@&PPPPPPPP#@@@PPPPP#@@@@@@#PPPP#@@@@#PPPP#&?777Y&7777J#@@@&GG#&@@@@@@
@#5PP5G@@@@@@@@@@&P5PGBGPPPPG@@@@&PPPPPP#@@@@&GPPPPPGGPP&#5PP5#@@@@#5PP5#&?!7!J@#J7!!7JJJ?!!75@@@@@@
@#GGGGB@@@@@@@@@@&BGPPPPPGG#@@@@@#PPPPP&@@@@@@@&BGGPPPPG##GGGG&@@@@#GGGG#@YJJJ5@@@B5J?????J5B@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@BPPPPG&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@BPPPPG@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@BPPPPB@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

Project:      RePsychle - Beta
Description:  A website that aims to allow users to create an account, upload database entries, CRUD accessibility to make better recycling decisions.
Name:         Wyatt Kirschner
Course:       COMP3006
Date:         4/23/2022

-->

<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascript/script.js"></script>
    {{!-- add Bootstrap https://www.bootstrapcdn.com/ --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
</head>



  <body>
    {{{body}}}
  </body>
  <footer class="footer-dark">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item" style="text-align: left;">
                  <h3 style="color: #7bbc7e;">RePsychle Database</h3>
                  <ul>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/database/garbage">Garbage</a></li>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/database/recycling">Recycling</a></li>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/database/compost">Compost</a></li>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/database/hazardous">Hazardous</a></li>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/database/all">All</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item" style="text-align: left;">
                  <h3 style="color: #7bbc7e;">About</h3>
                  <ul>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/about">About RePsychle</a></li>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/faq">Frequently Asked Questions</a></li>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/register">Register</a></li>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/login">Login</a></li>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/account">My Account</a></li>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/contact">Contact Us</a></li>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/how">How To RePsychle</a></li>
                      <li><a href="https://repsychle-beta-final.herokuapp.com/repsychle_blog">Blog</a></li>
                  </ul>
              </div>
              <div class="col-md-6 item text">
                  <h3 style="text-align: left;"><img src="/assets/img/repsychle_logo%201%20shadow.png" style="width: 200px;"></h3>
                  <p style="text-align: left; font-size: 14px;">RePsychle is not responsible for any information placed into this website. During this Beta, we are testing various features and how to create a better experience that will reflect our vision. If you have any comments or concerns, please use our <em>Contact Us</em>&nbsp;page.<br></p>
              </div>
              <div class="col item social"><a href="https://www.facebook.com/RePsychleCanada"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/RePsychleCanada"><i class="icon ion-social-twitter"></i></a><a href="mailto:repsychle@wkirschn.ca"><i class="icon ion-email"></i></a><a href="https://instagram.com/repsychlecanada"><i class="icon ion-social-instagram"></i></a></div>
          </div>
          <p class="copyright">Wyatt Kirschner © 2022 - 200407722 - COMP3006<br></p>
      </div>
  </footer>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/bs-init.js"></script>

</html>
